<!DOCTYPE html>
<html>
    <head>
        {{>head}}
    </head>
    <body>
        {{>topnav}}
        <div id="main-content">
            chicken coop
        </div>
        {{>footer}}
    </body>
</html>