<title>NOX &mdash; {{title}}</title>
<!--<link rel="icon" href="/img/weather.png">-->
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/topnav.css">

<script src="/js/jquery-3.6.0.min.js" defer></script>
<script src="/js/app.js" defer></script>