<!--    Made by Erik Terwan    -->
<!--   24th of November 2015   -->
<!--        MIT License        -->
<nav role="navigation">
  <div id="menuToggle">
    <input id="hamburger" type="checkbox"/>
    <span class="hamburger"></span>
    <span class="hamburger"></span>
    <span class="hamburger"></span>
    
    <ul id="menu">
      <li onclick="navigate(this, '/');">Homestead</li>
      <li class="subitem" onclick="navigate(this, '/coop');">Chicken Coop</li>
      <li onclick="navigate(this, '/settings');">Settings</li>
    </ul>
  </div>
  <div id="navdsp">{{title}}</div>
</nav>