/* ==========================================================================
SITE STRUCTURE
========================================================================== */
:root {
    --main-bg: #1f2020;
    --main-bg-light: #4e5050;
    --main-bg-hover: #777979;
    --main-fg: #dddcde;
    --main-fg-hover: #c7c7c7;
    --main-fg-highlight: #ebe9ec;
    --main-width: 400px;
    --main-input-height: 40px;
    --main-input-br: .2em; /* border radius*/
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

html { 
    background-color: var(--main-bg);
    color: var(--main-fg);
    height:100%;
    width:100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
nav {
    display: block;
    height: 60px;
}
#main-content {
    flex-grow: 1;
    padding: 0 16px;
}

